<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>595543876561-ulasf4d2od5olhvg4vtj0ibau2uj1i1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.595543876561-ulasf4d2od5olhvg4vtj0ibau2uj1i1b</string>
	<key>API_KEY</key>
	<string>AIzaSyCxqmsEqv-58Koz8rvHhWSv9n1vcIhtGqM</string>
	<key>GCM_SENDER_ID</key>
	<string>595543876561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.tyba-mobile-test</string>
	<key>PROJECT_ID</key>
	<string>tyba-mobile-test</string>
	<key>STORAGE_BUCKET</key>
	<string>tyba-mobile-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:595543876561:ios:9aaa4818a216dccf</string>
	<key>DATABASE_URL</key>
	<string>https://tyba-mobile-test.firebaseio.com</string>
</dict>
</plist>